html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  color: #07033d;
  background-color: #f6f7fd;
}

a,
a:visited {
  color: #07033d;
}

.filter {
  max-width: 600px;
  margin: 70px auto 20px;
}

.filter ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

.filter ul li {
  display: inline-block;
  padding: 8px 15px;
  margin: 0 5px;
}

.filter ul li.selected {
  background-color: #3e30e0;
  border-radius: 5px;
}

.filter ul li.selected a {
  color: white;
}

.filter ul li a {
  text-decoration: none;
}

.center {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
